<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xsi:schemaLocation="http://www.springframework.org/schema/beans
       http://www.springframework.org/schema/beans/spring-beans.xsd">

    <!-- TODO (6.1): register Greeter as a bean with id "greeter" -->
    <bean id="greeter" class="com.example.Greeter"/>

    <!-- TODO (6.2/6.5/6.7): register Engine as a bean with id "engine" -->
    <bean id="engine" class="com.example.Engine"/>

    <!-- TODO (6.6): register EmailNotifier (or SmsNotifier) as a bean with id "notifier" -->
    <bean id="emailNotifier" class="com.example.EmailNotifier"/>

    <bean id="smsNotifier" class="com.example.SmsNotifier"/>

    <!-- TODO (6.2/6.3/6.4/6.6): register Car as a bean with id "car",
         wiring engine (constructor-arg or property), notifier (constructor-arg),
         and simple values for model/year (property value="...") -->
    <bean id="car" class="com.example.Car">
        <constructor-arg ref="emailNotifier"/>
        <property name="engine" ref="engine"/>
        <property name="model" value="M3"/>
        <property name="year" value="2020"/>
    </bean>


    <!-- TODO (6.8): register paymentService, wiring the notifier bean -->
    <bean id="paymentService" class="com.example.PaymentService">
        <constructor-arg ref="smsNotifier"/>
    </bean>
    <!-- TODO (6.8): register orderService, wiring the paymentService bean -->
    <bean id="orderService" class="com.example.OrderService">
        <constructor-arg ref="paymentService"/>
    </bean>

</beans>
